@keyframes flipHeads {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(720deg); }
}

@keyframes flipTails {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(900deg); }
}

#coin img {
    width: 100%;
    animation: none;
    transform-origin: center;
}
